/* For all */
.all{
    font-family: Lato;
}



/* Banner section */
.header{
   padding-left: 5px;
    background:  rgba(229, 84, 115, 0.1);
    width: 100vw;
    flex-shrink: 0;
}
.shop-title{
color: #272727;
font-size: 50px;
padding-left: 10px;
margin-bottom: 32px;
}
.shop-paragraph {
color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-bottom: 32px;
padding-left: 10px;
}
.banner{
    display: flex;
    justify-content: space-between;
}


.banner-img{
    width: 500px;
height: 500px;
flex-shrink: 0;
    padding-bottom: 0px;
}
.btn-primary{
border-radius: 8px;
background: #E55473;
color: aliceblue;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border: none;
}

/* Featured Section */

.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    padding: 30px;
    padding-bottom: 0px;
}
.featured-paragraph{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
}
.featured-box{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 50px;
    border: 5px;
    padding-top: 100px;

}
.featured-box .first-box{
    width: 200px;
height: 200px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);


}
.featured-box .second-box{
    width: 200px;
height: 200px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);


}
.featured-box .third-box{
    width: 200px;
    height: 200px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);

}
.boxone-img{
    
    width: 200px;
height: 180px;
padding-top: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.boxtwo-img {
  
    padding: 0px;
    width: 195px;
    height: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.boxthree-img {
  
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.text-img {
    display: flex;
    width: 100%;
    text-align: center;
    justify-items: center;
    align-items: center;
    gap: 140px;
    margin-left: 300px;
    margin-right: 250px;
}

/* Hot deal section */
.hot-deal{
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    height: fit-content;
    width: 100%;
border: 8px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.hot-deal-title{
color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top: 150px;
padding-left:  150px;
}
.hot-deal-paragraph{
color: rgba(39, 39, 39, 0.60);
padding-left:  150px;
text-align: center;
font-size: 18px;
font-weight: 400;

}
.hot-deal-button{  
text-align: center;
margin-left: auto;
margin-right: auto;

}
.off{
    color: #E55473;
}

/* instagram section */
.instagram-img{
    display: flex;
    justify-content: center;
    justify-items: center;
    max-width: 1140px ;
    gap: 10px;
    margin: 0px auto;

}
.instagram-img img {
    width: 200px;
}
/* Get the deal section */

.Deals{
background-image: url(Rectangle\ 9.png);
background-repeat: no-repeat;
background-position: center;
margin: auto;
height: 300px;

padding-top: 200px;
padding-left: 500px;
padding-right: 500px;
padding-bottom: 200px;
border-radius: 8px;
align-content: center;
align-items: center;
}
.Form{
    height: 500px;
    border: 0px;
}
.deals-btn{
    border-radius: 5px;
background: #E55473;
color: aliceblue;
padding: 5px 5px;
align-items: flex-start;
gap: 20px;
border: none;
}
/* review section */
.review{
    background-color: rgb(246, 244, 250);
    margin-top: 0px;
 
    padding: 10px;

}
.review-title{
    text-align: center;
}
.reviwes{
    text-align: center;
}


/* footer section */
.title{
    width: 700px;
height: 64px;
flex-shrink: 0;
padding-top: 50px;
}

.colors{
    color: #E55473;
   
}
.footer{
    color: #FFFFFF;
    width: 100vw;
height: 449px;
flex-shrink: 0;
background: #111010;
}
.footer-title{
   color: #ffffff;
}
.footer-paragraph{
    color: #FFFFFF;
}